<strong>Hi, {{ provider }}</strong>
<p>One of your time slot has been cancel, please check the full details below:</p>
<p>
  <strong>Client: </strong>{{ user }} <br />
  <strong>Date/hours: </strong>{{ date }} <br />
  <br/>
  <small>
    The time slot is available for new re-booking.
  </small>
</p>
